
<div>
<button class="btn btn-success" (click)="AddorEdit()">Add</button>

<table class="table" border="1">
   <thead>
      <tr>
         <td>
            ID
         </td>
         <td>
            Id

         </td>
         <td>
            FirstName

         </td>
         <td>
            LastName

         </td>
         <td>
            Email

         </td>
        
         <td>
            Action
         </td>


      </tr>
   </thead>

   <tbody>
      <tr *ngFor="let d of user;let i=index;">

         <td>
            {{i+1}}
         </td>
         <td>
            {{d.id}}

         </td>
         <td>
            {{d.name}}

         </td>
         <td>
            {{d.username}}
         </td>
         
         <td>
            {{d.email}}

         </td>
           
            <td>
               <button class="btn btn-primary" color="primary" (click)="EditData(d)">Edit</button>
               <button class="btn btn-danger" (click)="DeleteData(d.id)">Delete</button>
               
   
            </td>

</tr>
   </tbody>
</table>
</div>

<router-outlet />
